<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist en temps réel</title>
    <style>
      a {text-decoration: none; color: black;}
    </style>
  </head>

  <body>
    <h1>Ma todolist</h1>

    <!-- La zone de todolist (au départ elle est vide et ne contient aucunes tâches)-->
    <section id="zone_todolist">
      <ul>
        <% todolist.forEach(function(nouvelleTache, index){ %>
        <li><a class="supression" href="todolist.ejs">✘</a> <%= nouvelleTache %> </li>
        <% }); %>
      </ul>
    </section>

    <!-- Le formulaire permettant d'ajouter des tâches à la todolist -->
    <form action="/todo/ajouter/" method="post" id="addForm">
        <p>
            <label for="newtodo">Que dois-je faire ?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus />
            <input type="submit" />
        </p>
    </form>

    <!-- On inclus la bibliothèque JQuey -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- On fait récupérer au client le fichier socket.io.js qui permet de gérer la communication avec le serveur du côté client -->
    <script src="/socket.io/socket.io.js"></script>

    <script>

      // Connexion à socket.io qui permet d'effectuer des actions du côté du client pour communique avec le serveur
      var socket = io.connect('http://localhost:8080');

      // On affiche la liste des tâches avec un boucle foreach,lors de la première connection
      socket.on('listeActuelle', function(todolist){
        $('#todolist').empty(); //Rafraichir la liste
        todolist.forEach(function(nouvelleTache, index){
          insererTache(nouvelleTache, index);
        });
      });

      // Ajout d'une nouvelle tâche par l'utilisateur via le formulaire
      $('#addForm').submit(function(){
          var nouvelleTache = $('newtodo').val();
          socket.emit('ajout', nouvelleTache);
          insererTache(nouvelleTache, index);
          $('#tache').val('').focus();
      });

      // Dès que la nouvelle tâche est dans le tableau todolist[], on l'affiche dans la liste
      // On réceptionne la nouvelle tâche ajoutée à partir du serveur
      socket.on('ajout', function(data) {
          insererTache(data.nouvelleTache, data.index);
      });

      // On réalise une boucle pour afficher la todolist comprenant la nouvelle tache ajoutée
      function insererTache(nouvelleTache, index){
          $('#todolist').append('<% todolist.forEach(function(nouvelleTache, index){ %><li><a class="supression" href="todolist.ejs">✘</a> <%= nouvelleTache %> </li><% }); %>');
      }

      // Supprimer une tâche
      $('.suppression').on('click', function(){
        socket.emit('suppression', $(this).data('index'));
      });

    </script>
  </body>
</html>
