<h1>Ma todolist</h1>

<p id="list">

<!-- Il faudra faire une boucle sur toutes les taches récupérées via le formulaire  -->
<!-- et les stockées sous forme de tableau pour boucler dessus  -->
<!-- et les afficher sous forme de liste à puces  -->
<!-- et en même temps de checkbox pour pouvoir leur appliquer une croix pour les supprimer -->

<!-- <ul>
  <li></li>
  <li></li>
  <li></li>
</ul> -->
</p>

<p id="form">
  <form method="GET" action="todoview.php">

    <p>Que dois-je faire ? </p>
    <input type="checkbox" name="tache" id="tache" />Ici devra s'insérer la tache récupéré dans le formulaire
    <input type="submit" value="Valider" />

</form>
</p>
